<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="ZFineDbContext" connectionString="Server=YANBING\SQLExpress;Initial Catalog=HBDb;User ID=sa;Password=1;" providerName="System.Data.SqlClient" />
  <add name="ZFineDbContext2" connectionString="Server=YANBING\SQLExpress;Initial Catalog=HBDb;integrated security=true;" providerName="System.Data.SqlClient" />
</connectionStrings>